<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit me</title>
    <style>
    canvas {
        height: 360px;
        width: 360px;
    }
</style>
</head>
<body>
    <div style="position: relative; width: 360px; margin: 0 auto;">
        <canvas id="canvas" resize></canvas>
        <img src="../assets/fusen-editme.png" style="position: absolute; top:0; right: -100px; pointer-events: none;">
      </div>
      <script type="text/javascript" src="../assets/paper.js"></script>
    <script type="text/paperscript" src="./editme.js" canvas="canvas"></script>
</body>
</html